
<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- <link rel="stylesheet" type="text/css" href="/musicstatic/frontend/bower_components/bootstrap-material-design/dist/css/material.css" /> -->
<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/bower_components/bootstrap-material-design/dist/css/ripples.min.css" />
<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/bower_components/ng-dialog/css/ngDialog.css" />
<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/bower_components/ng-dialog/css/ngDialog-theme-default.css" />

<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/css/snackbar.min.css" />
<link rel="stylesheet" type="text/css" href="/musicstatic/frontend/css/custom.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />


